@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .slideShow {
        font-family: "Libre Baskerville", serif;
        font-size: 9px;
        color: #7d7d7d;
        letter-spacing: 1.93px;
        font-weight: bold;
    }

    .slideShowTablet {
        font-family: "Libre Baskerville", serif;
        font-size: 12px;
        color: #7d7d7d;
        letter-spacing: 2.57px;
        font-weight: bold;
    }

    .homeTitle {
        font-family: "Libre Baskerville", serif;
        font-size: 24px;
        color: white;
        letter-spacing: 0px;
        font-weight: bold;
    }

    .homeAuthor {
        font-family: "Libre Baskerville", serif;
        font-size: 13px;
        color: white;
        letter-spacing: 0px;
        opacity: 75%;
    }

    .viewImage {
        font-family: "Libre Baskerville", serif;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 2.15px;
        color: white;
    }

    .year {
        font-family: "Libre Baskerville", serif;
        font-size: 100px;
        color: #f3f3f3;
        line-height: 100px;
        font-weight: bold;
        letter-spacing: 0;
    }
    .yearTablet {
        font-family: "Libre Baskerville", serif;
        font-size: 200px;
        color: #f3f3f3;
        line-height: 150px;
        font-weight: bold;
        letter-spacing: 0;
    }

    .description {
        font-family: "Libre Baskerville", serif;
        font-size: 14px;
        line-height: 28px;
        color: #7d7d7d;
        letter-spacing: 0;
        font-weight: bold;
    }

    .source {
        font-family: "Libre Baskerville", serif;
        font-size: 9px;
        letter-spacing: 1.93px;
        color: #7d7d7d;
        font-weight: bold;
        text-decoration: underline;
    }

    .footerName {
        font-family: "Libre Baskerville", serif;
        font-size: 14px;
        letter-spacing: 0;
        font-weight: bold;
    }
    .footerArtist {
        font-family: "Libre Baskerville", serif;
        font-size: 10px;
        letter-spacing: 0;
        color: #7d7d7d;
    }

    .slidesTitle {
        font-family: "Libre Baskerville", serif;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0;
        font-weight: bold;
    }

    .slidesTitleTablet {
        font-family: "Libre Baskerville", serif;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 0;
        font-weight: bold;
    }

    .slidesAuthor {
        font-family: "Libre Baskerville", serif;
        font-size: 15px;
        letter-spacing: 0;
        color: #7d7d7d;
    }

    .close {
        font-family: "Libre Baskerville", serif;
        font-size: 14px;
        letter-spacing: 3px;
        color: white;
        font-weight: bold;
    }

    .disabledButton {
        filter: brightness(0) saturate(100%) invert(100%) sepia(1%)
            saturate(1086%) hue-rotate(195deg) brightness(103%) contrast(69%);
    }
}
