@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navLink {
        font-family: "Rubik", sans-serif;
        font-size: 20px;
        line-height: 17px;
        letter-spacing: 2.3px;
        color: #ffffff;
        text-transform: uppercase;
    }

    .navLinkDesktop {
        font-family: "Rubik", sans-serif;
        font-size: 13px;
        line-height: 17px;
        letter-spacing: 1.5px;
        color: #242a45;
        text-transform: uppercase;
    }

    .titleMobile {
        font-family: "Rubik", sans-serif;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -0.09px;
        font-weight: 500;
        color: #242a45;
        text-transform: capitalize;
        text-align: center;

        margin-bottom: 16px;
    }

    .titleDesktop {
        font-family: "Rubik", sans-serif;
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -0.15px;
        font-weight: 500;
        color: #242a45;
        text-transform: capitalize;
        text-align: start;
        margin-bottom: 24px;
    }

    .paraMobile {
        font-family: "Rubik", sans-serif;
        font-size: 15px;
        line-height: 20px;
        color: #242a45;
        opacity: 0.5;
        text-align: center;
    }

    .paraDesktop {
        font-family: "Rubik", sans-serif;
        font-size: 18px;
        line-height: 28px;
        color: #242a45;
        opacity: 0.5;
        text-align: start;
    }

    .buttonText {
        font-family: "Rubik", sans-serif;
        font-size: 14px;
        line-height: 28px;
        font-weight: 500;
    }

    .featuresTitle {
        font-family: "Rubik", sans-serif;
        font-size: 24px;
        line-height: 52px;
        font-weight: 500;
        color: #242a45;
        letter-spacing: -0.08px;
    }

    .featuresOptiones {
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        line-height: 17px;
        color: #242a45;

        opacity: 0.75;
        letter-spacing: 0.53px;
    }
    .cardTitle {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.25px;
        color: #242a45;
    }

    .cardPara {
        font-family: "Rubik", sans-serif;
        font-size: 15px;
        line-height: 28px;
        color: #242a45;
        opacity: 0.5;
    }

    .faQuestion {
        font-family: "Rubik", sans-serif;
        font-size: 15px;
        line-height: 32px;
        color: #242a45;
    }

    .faAnswer {
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        line-height: 36px;
        color: #242a45;
        opacity: 0.5;
    }

    .contactPara {
        font-family: "Rubik", sans-serif;
        font-size: 12px;
        line-height: 40px;
        color: white;
        letter-spacing: 4.62px;
        font-weight: 500;
    }

    .contactTitle {
        font-family: "Rubik", sans-serif;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        color: white;
        letter-spacing: -0.08px;
    }

    .errorMessage {
        font-family: "Rubik", sans-serif;
        font-size: 10px;
        letter-spacing: 0.25px;
        font-weight: 500;
        font-style: italic;
    }

    .footerLink {
        font-family: "Rubik", sans-serif;
        font-size: 15px;
        line-height: 17px;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 1.73px;
    }
}
